doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon", href="/favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        title Hello
    body
        h3= "Input your name"
            form(action="/name" method="get")
                p Name:
                    input(type="text" name="name" placeholder="input here")
                input(type="submit" value="Submit")